{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/puppies/puppy-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="puppy-container">
  <div class="puppy-img">
    <img 
      src="{% static 'images/puppies.png' %}" 
      alt="A skater boy cat"
    >
  </div>
  <div class="puppy-details">
    <h1>{{ puppy.name }}</h1>
    {% if puppy.age > 0 %}
      <h2>A {{ puppy.age }} year old {{ puppy.breed }}</h2>
    {% else %}
      <h2>A {{ puppy.breed }} puppy.</h2>
    {% endif %}
    <p>{{ puppy.description }}</p>
    <div class="puppy-actions">
      <a href="{% url 'puppy-update' puppy.id %}" class="btn warn">Edit</a>
      <a href="{% url 'puppy-delete' puppy.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}