{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/puppies/puppy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Puppy List</h1>
  <img src="{% static 'images/tired-puppy.png' %}" alt="A tired puppy" />
  <img src="{% static 'images/happy-puppy.png' %}" alt="A happy puppy" />
  <img src="{% static 'images/interested-puppy.png' %}" alt="An interested puppy" />
  <img src="{% static 'images/sad-puppy.png' %}" alt="A sad puppy" />
</section>
<section class="card-container">
  {% for puppy in puppies %}
    <div class="card">
      <a href="{% url 'puppy-detail' puppy.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/swimming-puppy.png' %}" 
              alt="A swimming puppy"
            >
          </div>
          <h2 class="card-title">{{ puppy.name }}</h2>
          {% if puppy.age > 0 %}
            <p>A {{ puppy.age }} year old {{ puppy.breed }}</p>
          {% else %}
            <p>A {{ puppy.breed }} puppy.</p>
          {% endif %}
          <p><small>{{ puppy.description }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}