.puppy-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.puppy-img {
  width: 75%;
  max-width: 350px;
}

.puppy-details {
  width: 98%;
}

.puppy-actions {
  margin-top: 20px;
}

.puppy-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.puppy-details h2 {
  font-size: var(--font-xl);
  margin-top: auto;
  margin-bottom: 10px;
}

.puppy-details p {
  font-size: var(--font-reg);
  margin: 5px auto;
}
