{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
  <!-- if there is a puppy display it's name -->
  {% if puppy %}
    <h1>Edit {{ puppy.name }}</h1>
  {% else %}
    <h1>Create a Puppy</h1>
  {% endif %}
<div class="page-header">
  <img src="{% static 'images/tired-puppy.png' %}" alt="A tired puppy"/>
</div>
<form action="" method="post" class="form-container"> {% comment %} 
  Post to same URL so leave empty
  {% endcomment %}
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}